.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 50px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.search__input>input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
    outline: none;
    background-color: inherit;
}

.search__inputIcon {
    color: gray;
}

.search__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search__buttonHidden {
    display: none !important;
}

.search__buttons>button {
    margin: 5px;
    padding: 7px 15px;
    background-color: #ebebeb;
    border: 1px solid #e6e5e5;
    text-transform: none;
}

.search__buttons>button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #ebebeb, #e7e5e5);
    border: 1px solid #dbdbdb;
    color: #222;
}